<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.pupov.dao.QuestionDao">
        <constructor-arg name="csvPath" value="data.csv" type="java.lang.String"/>
    </bean>
    <bean id="ioService" class="ru.pupov.service.impl.ConsoleIOService"/>
    <bean id="questionConverter" class="ru.pupov.converter.impl.QuestionConverterImpl"/>

    <bean id="quizService" class="ru.pupov.service.impl.QuizServiceImpl">
        <constructor-arg name="ioService" ref="ioService"/>
        <constructor-arg name="questionDao" ref="questionDao"/>
        <constructor-arg name="questionConverter" ref="questionConverter"/>
    </bean>
</beans>